@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
@import '../../../../vendor/filament/filament/resources/css/base.css';

@config 'tailwind.config.js';

@source '../../../../vendor/awcodes/light-switch/resources/**/*.blade.php';